* {
    margin: 0;
    padding: 0;
}

body {
    max-height: 100%;
    max-width: 100%;
    overflow: clip;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #00B0FF;
}

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

input {
    width: max-content;
    margin: auto;
}

/* IDs */

#canvas {
    background-color: #212121;
}

#interface {
    background-color: #1A1A1A;
    color: white;
    min-width: 8rem;
    padding: 1rem;
    position: absolute;
    top: 0;
    /* overflow: auto;
    resize: both; */
}

#interface.cm {
    cursor: move;
}

#values {
    height: 16rem;
    overflow-y: auto;
}

/* Classes */

.col {
    display: flex;
    flex-direction: column;
}

.content-container {
    display: flex;
    flex-direction: column;
}

.menu {
    display: flex;
}

.menu-item {
    border: 1px white solid;
    flex-grow: 1;
    list-style: none;
}