* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
}

#interface {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    position: absolute;
}

[draggable=true] {
    cursor: move;
}

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

#values {
    height: 16rem;
    overflow-y: auto;
}