* {
    margin: 0;
    padding: 0;
}

body {
    max-height: 100%;
    max-width: 100%;
    overflow: clip;
}

#interface {
    background-color: black;
    color: white;
    min-width: min-content;
    /* padding: 1rem; */
    position: absolute;

    /* overflow: auto;
    resize: both; */
}

#main {
    display: flex;
    flex-direction: column;
}

[draggable=true] {
    cursor: move;
}

input {
    width: max-content;
    margin: auto;
}

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

#values {
    height: 16rem;
    overflow-y: auto;
}

#interface.bg {
    background-color: blue;
}